@font-face {
	font-family: Geologica;
	font-display: swap;
	src: url("../fonts/Geologica-Bold.woff") format("woff"), url("../fonts/Geologica-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Unutterable;
	font-display: swap;
	src: url("../fonts/Unutterable-Regular.woff") format("woff"), url("../fonts/Unutterable-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
