.footer {
    flex: 0 0 auto;
    background: rgb(19 19 19 / 93%);
    backdrop-filter: blur(30px);
    &__wrapper {
        padding: 20px 0;
    }
    &__body {
        margin-bottom: 14px;
        @media (min-width: 319.99px) {
            flex-direction: column;
        }
         @media (min-width: 767.99px) {
            flex-direction: row;
        }
    }
    &__column {
        @media (max-width: 767.99px) {
            justify-content: center;
            flex: 1 1 100% !important;
            &:nth-child(1) {
                order: 2;
                margin-bottom: 25px;
            }
            &:nth-child(2) {
                order: 1;
                margin-bottom: 20px;
            }
            &:nth-child(3) {
                order: 3;
            }
        }
    }
    &__copyright {
        text-align: center;
        color: #ffffffbb;
        font-size: 12px;
    }
}

.menu-footer {
    position: static !important;
    opacity: 1 !important;
    visibility: visible !important;
    background: transparent !important;
    padding: 0 !important;
    width: auto !important;
    &__list {
        flex-direction: row !important;
        flex-wrap: wrap;
        @media (max-width: 767.99px) {
            column-gap: 30px !important;
            justify-content: center;
            flex-wrap: wrap;
        }
        @media (max-width: 424.99px) {
            text-align: center;
            flex-direction: column !important;
        }
    }
}

.right-footer {
    .menu-footer {
        &__list {
            display: block !important;
            text-align: right;
            @media (max-width: 767.99px) {
                text-align: center;
            }
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 5px;
                @media (max-width: 767.99px) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}